# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/
pubspec_overrides.yaml
.vscode/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# FVM
/.fvm/flutter_sdk/

# Flutter
/pubspec.lock
**/doc/api/
.dart_tool/
.packages
build/
